<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>Login</title>
	<!-- Bootstrap core CSS --> 
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="stylesheets/navbar-fixed-top.css" rel="stylesheet">
	<link href="stylesheets/stock.css" rel="stylesheet">
</head>

<body>
	<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img  id="logoImg" src="images/logo_web.png" /></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-menubuilder">
				<ul class="nav navbar-nav navbar-right">
					<!-- <li class="active"><a href="/home">Home</a></li>
					<li><a href="/login">My Account</a></li>
					<li><a href="/logout">Logout</a></li> -->
				</ul>
			</div>
		</div>
	</div>
	
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<div class="panel panel-default panel-border">
				<div class="panel-heading panel-heading-color login-panel-heading">
					Login
				</div>

				<div class="panel-body">
					  <div id="loginDiv">
						<fieldset id="loginSet1">
							<div class="has-error">
									<label class="control-label" for="email" id="error-info"></label>
							</div>
							<div class="input-group form-group" id="emailDiv">
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								<input type="email" name="email" id="email" class="form-control input-md" placeholder="Email Address" autofocus="" autocomplete="off">
							</div>
							<div class="input-group form-group" id="passDiv">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="password" name="password" id="password" class="form-control input-md" placeholder="Password">
							</div>
							<div class="input-group form-group">
								<a href="/resetPassword" class="btn btn-link pull-right">Forgot Password?</a>
							</div>
							<hr />
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6">
									<a href="/signup" class="btn btn-md btn-primary btn-block">Register</a>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<input type="button" class="btn btn-md btn-block btn-primary-color" id="loginBtn" value="Sign In">
									
								</div>
							</div>
						</fieldset>
					  </div>	
				</div>
			</div>
		</div>
	</div>
</div> <!-- /container -->
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="javascripts/bootstrap.min.js"></script>

		<!-- Login JavaScript code-->
    	<script src="javascripts/login.js"></script>
	
		<link rel="stylesheet" href="stylesheets/jquery-ui.min.css"/>
		<script src="javascripts/jquery-ui.min.js"></script>
		
	</body>
</html>
